<footer class="">
  <div class="footer-container">
    <div class="parent-footer">
      <!-- start top footer -->
      <div class="top-footer p-4">
        <div class="row g-5 px-5 pb-1 pt-0 parent-in-top outer-row">
          <!-- start collab -->
          <div class="col-xl-3 px-0">
            <div class="collab">
              <a routerLink="/home">
                <img
                  src="../../../assets/imgs/logos/logo-text-colorish.webp"
                  alt="go to home "
                  class="footer-logo main-address"
                />
              </a>
              <p class="brand-paragraph">
                Transform your brand with innovative strategies and creative
                solutions that drive results. Let’s elevate your business
                together!
              </p>
            </div>
          </div>
          <!-- end collab -->
          <!-- start links -->

          <!-- <div class="col-xl-9"> -->
          <!-- <div class="row gy-5 inner-row"> -->
          <!-- <h2 class="main-address">Info</h2> -->

          <div class="col-md-3 d-flex align-items-end parent_links-footer">
            <div class="links">
              <!-- <h3 class="main-address">Quick Links</h3> -->
              <ul class="mb-5">
                <li class="mb-3">
                  <h2 class="main-address">Info</h2>
                </li>
                <li>
                  <a routerLink="/about"
                    ><i class="fa-solid fa-play"></i> <span>About Us</span></a
                  >
                </li>
                <li>
                  <a routerLink="letstalk"
                    ><i class="fa-solid fa-play"></i> <span>Let's Talk</span></a
                  >
                </li>
                <li>
                  <a href="/letstalk/#letstalk-form"
                    ><i class="fa-solid fa-play"></i> <span>Support</span></a
                  >
                </li>
                <!-- <li>
                      <a routerLink="blogs"
                        ><i class="fa-solid fa-play"></i>
                        <span>Latest Blog</span></a
                      >
                    </li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end parent_links-footer">
            <div class="links">
              <ul class="mb-5">
                <!-- <li>
                      <a href="/#pricing"
                        ><i class="fa-solid fa-play"></i>
                        <span> Pricing</span></a
                      >
                    </li> -->
                <li>
                  <a routerLink="policies"
                    ><i class="fa-solid fa-play"></i>
                    <span>Company Policies</span></a
                  >
                </li>
                <li>
                  <a routerLink="fqs"
                    ><i class="fa-solid fa-play"></i> <span>FAQ</span></a
                  >
                </li>
                <li>
                  <a href="home/#location"
                    ><i class="fa-solid fa-play"></i>
                    <span>Office Location</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-3 last-part-of-footer d-flex align-items-start parent_links-footer"
          >
            <div class="links">
              <ul class="">
                <li>
                  <a href="home/#map" class="lets-talk-details">
                    <i class="fa-solid fa-location-dot"></i>
                    <span> 301 Princes Street, Damietta Egypt-104</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="lets-talk-details">
                    <i class="fa-solid fa-phone"></i>
                    <span> +20 10 09930436</span>
                  </a>
                </li>
                <li>
                  <a class="lets-talk-details" href="#">
                    <i class="fa-regular fa-envelope"></i>
                    <span>{{ "ontrack.digitalmarketing@gmail.com" }}</span>
                  </a>
                </li>
                <li>
                  <div class="collab">
                    <div class="icons">
                      <a
                        href="https://www.facebook.com/on.traack?mibextid=LQQJ4d"
                        target="_blank"
                        ><i class="fa-brands fa-facebook"></i
                      ></a>
                      <a><i class="fa-brands fa-tiktok"></i></a>
                      <a
                        href="https://www.linkedin.com/in/on-track-0ab4b6319/"
                        target="_blank"
                        ><i class="fa-brands fa-linkedin"></i
                      ></a>
                      <a href="http://wa.me/201080409560" target="_blank"
                        ><i class="fa-brands fa-whatsapp fs-3"></i
                      ></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- end links -->
          <!-- start opening hours -->

          <!-- <div class="col-xl-3 p-0">
            <div class="posts">
              <div class="opening-hours-container mt-auto">
                <div class="hours-box">
                  <h1>Opening Hours</h1>
                  <p class="time">suterday – Thursday</p>
                  <p class="time">10 am – 07 pm</p>
                  <div class="line"></div>
                  <p class="holidays">Friday and Govt Holidays</p>
                  <p class="closed">Closed</p>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end opening hours -->
        </div>
      </div>
      <!-- end top footer -->
      <!-- start bottom footer -->
      <div class="bottom-footer">
        <p>
          Merkulove &copy; Collab Template All rights reserved Copyrights 2023
        </p>
        <!-- <img
          src="../../../assets/imgs/footerend.webp"
          width="40%"
          alt="image visa"
        /> -->
      </div>
      <!-- end bottom footer -->
    </div>
  </div>
</footer>
