.form-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* width: 400px; */
  width: 50%;
  max-width: 100%;
  margin: 5rem auto;
}

.form-input {
  text-align: left;
  margin: 0.5rem 0;
}

h2 {
  color: #000;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #1a308b;
  border-radius: 5px;
  font-size: 14px;
  outline-color: #0d2761;
  color: #0d2761;
}
.asterisk {
  color: #0d2761;
  font-size: 20px;
}
button {
  background: linear-gradient(to right, #021953, #1a308b, #0d2761);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s;
  width: 50%;
}

button:hover {
  background: linear-gradient(to right, #1a308b, #021953, #0d2761);
}

button:disabled {
  background: rgb(26, 48, 139, 0.6);
  cursor: auto;
}

input::placeholder {
  color: #aaa;
  font-size: 14px;
}
/*  */
.parent-input {
  position: relative;
}
.parent-input .input-file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.parent-input label {
  border: 1px solid #1a308b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.parent-input .input-placeholder {
  color: #aaa;
}

.input-icon {
  color: #1a308b;
}
/*  */

.error-message {
  color: red;
}
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
    width: 90%;
  }

  h2 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  input[type="file"],
  button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  input[type="file"],
  button {
    font-size: 12px;
    padding: 8px;
  }

  button {
    padding: 8px 10px;
  }

  .form-input {
    margin: 0.2rem 0;
  }
}
