<section>
  <img
    src="../../../../../assets/imgs/dots-bg.webp"
    class="bg-image-dots"
    alt="image"
  />
  <div class="container">
    <div class="row g-5">
      <div class="col-md-6">
        <div class="text">
          <h2>WHAT WE DO</h2>
          <p>
            we help businesses solve problems and achieve their goals through
            custom software solutions. Whether you need a new web or mobile
            application, a software upgrade, or expert guidance on digital
            transformation, our team is here to create solutions that fit your
            unique needs.
          </p>
          <a href="#" class="main-btn"><span>more</span></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="services">
          <div class="row g-5">
            <div class="col-md-6">
              <a href="#" class="service one">
                <div class="icon-container">
                  <i class="fa-solid fa-earth-americas"></i>
                </div>
                <h6>WEB DEVELOPMENT</h6>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="service two">
                <div class="icon-container">
                  <i class="fa-brands fa-figma"></i>
                </div>
                <h6>UI / UX</h6>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="service three">
                <div class="icon-container">
                  <i class="fa-solid fa-mobile"></i>
                </div>
                <h6>APP DEVELOPMENT</h6>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="service four">
                <div class="icon-container">
                  <i class="fa-solid fa-star"></i>
                </div>
                <h6>SEO SERVICES</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
