section {
  color: #fffff3;
  position: relative;
}

.text h2 {
  margin: 0 0 2rem;
  font-weight: 700;
}

.text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.service {
  padding: 1.5rem 0.5rem 0.5rem;
  border: 2px solid #fffff3;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  text-decoration: none;
  color: #fffff3;
  height: 100%;
  transition: 0.3s;
}

.service:hover {
  background: linear-gradient(145deg, #0078ff, #005fcc);
  box-shadow: inset -5px -5px 10px #0052b3, inset 5px 5px 10px #0052b3;
}

.service.one,
.service.three {
  transform: translateY(-1rem);
}

.img-service {
  /* box-shadow: 2px 2px 15px 15px rgba(10, 210, 243, 0.4),
    -2px -2px 15px 15px rgba(10, 210, 243, 0.4); */
  /* border-radius: 2rem; */
  width: 80px;
}

.service h6 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.bg-image-dots {
  left: 0;
}

@media (max-width: 991px) {
  .text h2 {
    margin: 0 0 1.2rem;
    font-weight: 700;
    font-size: 1.7rem;
  }

  .text p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .img-service {
    width: 50px;
  }

  .service h6 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .service.one,
  .service.three {
    transform: translateY(0);
  }
}
