<section>
  <div class="container">
    <img
      src="../../../../../assets/imgs/home/img-dot.png"
      alt=""
      class="bg-image-dots"
    />
    <img
      src="../../../../../assets/imgs/home/img-dot.png"
      alt=""
      class="bg-image-dots"
    />
    <div class="row g-3">
      <div class="col-md-6 col-xl-3">
        <div class="innerDiv">
          <img
            src="../../../../../assets/imgs/about-page/statistics/project.webp"
            alt="image"
          />
          <h2 [countUp]="130" [options]="{ enableScrollSpy: true }">0</h2>
          <p>global projects</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="innerDiv">
          <img
            src="../../../../../assets/imgs/about-page/statistics/man.webp"
            alt="image"
          />
          <h2 [countUp]="630" [options]="{ enableScrollSpy: true }">0</h2>
          <p>expert team</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="innerDiv">
          <img
            src="../../../../../assets/imgs/about-page/statistics/smile.webp"
            alt="image"
          />
          <h2 [countUp]="48" [options]="{ enableScrollSpy: true }">0</h2>
          <p>happy clients</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="innerDiv">
          <img
            src="../../../../../assets/imgs/about-page/statistics/service.webp"
            alt="image"
          />
          <h2 class="d-flex align-items-center justify-content-center">
            <span style="display: block; margin-left: auto">+</span>
            <h2
              class="m-0"
              [countUp]="20"
              [options]="{ enableScrollSpy: true }"
              style="width: 55%; text-align: left"
            >
              0
            </h2>
          </h2>
          <p>services</p>
        </div>
      </div>
    </div>
  </div>
</section>
