<div class="services-container">
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <h1 class="main-address">OUR SERVICES</h1>
  <div class="services-grid">
    <!-- Web Development -->
    <div class="service-box">
      <div class="icon">
        <img src="./assets/imgs/home/web.png" alt="Web Icon" />
      </div>
      <p class="service-title">WEB Development</p>
    </div>
    <!-- UI/UX Design -->
    <div class="service-box uiux-highlight">
      <div class="icon">
        <img src="./assets/imgs/home/figma.png" alt="figma Icon" />
      </div>
      <p class="service-title">UI\UX Design</p>
    </div>
    <!-- App Development -->
    <div class="service-box">
      <div class="icon">
        <img src="./assets/imgs/home/app.png" alt="App Icon" />
      </div>
      <p class="service-title">App Development</p>
    </div>
    <!-- SEO Services -->
    <div class="service-box">
      <div class="icon">
        <img src="./assets/imgs/home/google.png" alt="SEO Icon" />
      </div>
      <p class="service-title">SEO Services</p>
    </div>
  </div>
</div>
