<section>
  <img
    src="../../../../../assets/imgs/dots-bg.webp"
    class="bg-image-dots"
    alt="image"
  />
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-6">
        <div class="innerDiv">
          <div class="address"><h2>Our Values</h2></div>
          <div class="item">
            <h4>Integrity :</h4>

            <p>
              We operate with honesty and transparency in everything we do,
              building trust with our clients and partners.
            </p>
          </div>
          <div class="item">
            <h4>Collaboration :</h4>
            <p>
              We believe in working together—both with our clients and within
              our team
            </p>
          </div>
          <div class="item">
            <h4>Continuous Learning :</h4>
            <p>
              The tech world is ever-evolving, and we are committed to staying
              at the forefront of innovation to offer you the best solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="innerDiv">
          <div class="image">
            <img
              src="../../../../../assets/imgs/about-page/our-values.webp"
              alt="image"
            />
          </div>
          <div class="item">
            <h4>Excellence :</h4>
            <p>
              We aim for perfection in every project, ensuring that quality is
              always at the forefront of our work.
            </p>
          </div>
          <div class="item">
            <h4>Customer Success :</h4>
            <p>
              Your success is our priority. We’re dedicated to delivering
              solutions that solve your challenges and help your business grow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
