<section>
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <div class="container">
    <h1 class="main-address">Our Process</h1>
    <div class="process-step process-step1">
      <div class="step-content">
        <h2>Discovery:</h2>
        <p>
          We start by understanding your business, goals, and challenges.
          Through detailed discussions, we gather the insights needed to create
          a tailored solution that aligns with your vision.
        </p>
      </div>
      <div class="step-number">01</div>
    </div>

    <div class="process-step pos-icon">
      <div class="step-number">02</div>
      <div class="step-content">
        <h2>Planning & Strategy:</h2>
        <p>
          We develop a clear roadmap for your project, outlining the scope,
          timeline, and key milestones. Our goal is to ensure we're all on the
          same page before moving forward.
        </p>
      </div>
      <!-- <img src="../../../../../assets/imgs/home/img-dot.png" alt="" /> -->
    </div>

    <div class="process-step process-step1 pos-icon3">
      <div class="step-content">
        <h2>Design & Development:</h2>
        <p>
          Our team of designers and developers work together to create
          user-friendly, scalable solutions. We focus on both form and function,
          ensuring that your product looks great and performs even better.
        </p>
      </div>
      <div class="step-number">03</div>
      <!-- <img src="../../../../../assets/imgs/home/img-dot.png" alt="" /> -->
    </div>

    <div class="process-step">
      <div class="step-number">04</div>
      <div class="step-content">
        <h2>Testing & Quality Assurance:</h2>
        <p>
          We rigorously test every feature to ensure your software is bug-free,
          secure, and reliable. We make sure it works seamlessly across all
          devices and platforms.
        </p>
      </div>
    </div>

    <div class="process-step process-step1">
      <div class="step-content">
        <h2>Launch & Support:</h2>
        <p>
          Once your product is ready, we handle the launch and provide ongoing
          support to ensure everything runs smoothly. We're always here to help
          with any updates or improvements.
        </p>
      </div>

      <div class="step-number">05</div>
    </div>
  </div>
</section>
