<header>
  <h1>Transforming Ideas into Reality Through Technology</h1>
  <p>
    "Our expert team delivers robust software solutions designed to meet your
    unique needs”
  </p>
  <a href="#" class="main-btn"><span>see more</span></a>

  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />

  <span class="svgImage"
    ><svg
      width="211"
      height="419"
      viewBox="0 0 211 419"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="18.4867"
        cy="32.7492"
        r="5.5"
        transform="rotate(29.0747 18.4867 32.7492)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="64.8083"
        cy="58.5043"
        r="5.5"
        transform="rotate(29.0747 64.8083 58.5043)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="34.1933"
        cy="113.566"
        r="5.5"
        transform="rotate(29.0747 34.1933 113.566)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="3.33568"
        cy="169.064"
        rx="5.5"
        ry="5"
        transform="rotate(29.0747 3.33568 169.064)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="111.13"
        cy="84.2594"
        r="5.5"
        transform="rotate(29.0747 111.13 84.2594)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="80.5148"
        cy="139.321"
        r="5.5"
        transform="rotate(29.0747 80.5148 139.321)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="49.657"
        cy="194.819"
        rx="5.5"
        ry="5"
        transform="rotate(29.0747 49.657 194.819)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="19.0422"
        cy="249.88"
        rx="5.5"
        ry="5"
        transform="rotate(29.0747 19.0422 249.88)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="157.014"
        cy="109.772"
        rx="5"
        ry="5.5"
        transform="rotate(29.0747 157.014 109.772)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="126.399"
        cy="164.833"
        rx="5"
        ry="5.5"
        transform="rotate(29.0747 126.399 164.833)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="95.5413"
        cy="220.331"
        r="5"
        transform="rotate(29.0747 95.5413 220.331)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="64.9265"
        cy="275.392"
        r="5"
        transform="rotate(29.0747 64.9265 275.392)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="34.0688"
        cy="330.891"
        rx="5"
        ry="5.5"
        transform="rotate(29.0747 34.0688 330.891)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="3.45405"
        cy="385.952"
        rx="5"
        ry="5.5"
        transform="rotate(29.0747 3.45405 385.952)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="202.898"
        cy="135.284"
        r="5.5"
        transform="rotate(29.0747 202.898 135.284)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="172.283"
        cy="190.345"
        r="5.5"
        transform="rotate(29.0747 172.283 190.345)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="141.426"
        cy="245.844"
        rx="5.5"
        ry="5"
        transform="rotate(29.0747 141.426 245.844)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <ellipse
        cx="110.811"
        cy="300.905"
        rx="5.5"
        ry="5"
        transform="rotate(29.0747 110.811 300.905)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="79.9531"
        cy="356.403"
        r="5.5"
        transform="rotate(29.0747 79.9531 356.403)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
      <circle
        cx="49.3383"
        cy="411.464"
        r="5.5"
        transform="rotate(29.0747 49.3383 411.464)"
        fill="#00D9FF"
        fill-opacity="0.4"
      />
    </svg>
  </span>
</header>
