:root {
  bg-color: linear-gradient(to right, #021953, #1a308b, #0d2761);
}

header {
  margin: 5rem 0 5rem;
  padding: 0rem 20px;
  text-align: center;
  color: #fffff3;
  background: linear-gradient(to right, #021953, #1a308b, #0d2761);
  position: relative;
  /* height: 40vh; */
}
.svgImage {
  position: absolute;
  left: 0;
}
h1 {
  /* width: 75%; */
  margin: 0 auto;
  font-size: 5rem;
  width: 77%;
}

p {
  font-size: 2.4rem;
  margin: 2rem auto;
  width: 77%;
  margin: 20px auto 2rem;
  line-height: 1;
}
.bg-image-dots {
  left: 0;
  width: 111px !important;
}
.bg-image-dots {
  left: 0;
  width: 111px !important;
}
@media (max-width: 768px) {
  h1 {
    /* width: 75%; */

    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    margin: 1rem auto;
  }
  .svgImage {
    position: absolute;
    left: 0;
    width: 111px !important;
  }
}

@media (max-width: 425px) {
  header {
    margin: 2rem 0 5rem;
  }
  h1,
  p {
    width: 100%;
  }
}
