* {
  /* border: solid 1px #000 !important ; */
}

header {
  margin: 5rem 0 0;
  padding: 0rem 20px;
  text-align: center;
  color: #fffff3;
  position: relative;
  height: 40vh;
}

/* h1 {
  width: 75%;
  margin: 0 auto;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  margin: 2rem 0;
} */

h1 {
  /* width: 75%; */
  margin: 0 auto;
  font-size: 5rem;
  width: 77%;
}

p {
  font-size: 2.4rem;
  /* margin: 2rem auto; */
  width: 77%;
  margin: 20px auto 2rem;
  line-height: 1;
}

.bg-image-dots:nth-child(1) {
  left: 0;
}
.bg-image-dots:nth-child(2) {
  right: 0;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  h1 {
    /* width: 75%; */

    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    margin: 1rem auto;
  }
}
@media (max-width: 425px) {
  header {
    margin: 2rem 0 0rem;
  }
  h1,
  p {
    width: 100%;
  }
}
