:root {
  bg-color: linear-gradient(to right, #021953, #1a308b, #0d2761);
}

header {
  margin: 5rem 0 0;
  padding: 0rem 20px;
  text-align: center;
  color: #fffff3;
  background: linear-gradient(to right, #021953, #1a308b, #0d2761);
  position: relative;
  height: 40vh;
}

h1 {
  width: 75%;
  margin: 0 auto;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  h1 {
    /* width: 75%; */

    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
}

.bg-image-dots {
  left: 0;
}
