<section>
  <img
    src="../../../../../assets/imgs/dots-bg.webp"
    class="bg-image-dots"
    alt="image"
  />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image">
          <img
            src="../../../../../assets/imgs/about-page/who-are-we.webp"
            alt="image"
          />
        </div>
      </div>
      <div class="col-md-6 text-container">
        <div class="text">
          <span>ABOUT US</span>
          <h2>Who We Are</h2>
          <p>
            At <b>SMART BRAND</b> , we are a passionate team of developers,
            designers, strategists, and project managers who are committed to
            helping businesses navigate the complexities of modern technology.
            We believe in the power of innovation to solve real-world problems
            and drive success.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
