<!-- <header class="header" #header>
  <div class="parentHeader">
    <a class="navbar-brand contain-logo" routerLink="">
      <ng-container *ngIf="showToggle">
        <img
          src="../../../assets/imgs/logos/logo-text-colorish.webp"
          alt="tors"
          class="logo"
        />
      </ng-container>
      <ng-container *ngIf="!showToggle">
        <img
          src="../../../assets/imgs/logos/logo-image-colorish.webp"
          alt="tors"
          class=""
          style="width: 120px !important; height: 120px !important"
        />
      </ng-container>
    </a>

    <div class="d-flex flex-grow-1 align-items-center justify-content-between">
      <nav
        style="width: 88%"
        class="navbar m-0 navbar-expand-lg navbar-dark narBar-links"
      >
        <div class="contain-btn">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="true"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse narBar-links d-flex align-items-center justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav w-75 d-flex justify-content-center">
            <li class="nav-item">
              <a
                class="nav-link nav-link1"
                routerLink="home"
                routerLinkActive="active"
              >
                <i class="fa-solid fa-house iconNavBar"></i>
                <div class="hoverlinks"></div>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link1"
                routerLink="about"
                routerLinkActive="active"
              >
                <div class="hoverlinks"></div>
                <i class="fa-regular fa-address-card iconNavBar"></i>
                About
              </a>
            </li>

            <li class="nav-item nav-link-hover results">
              <a class="nav-link results" style="cursor: pointer">
                <i class="fa-brands fa-servicestack iconNavBar"></i>
                <span class="me-1 results"> Services </span>
                <i class="fa-solid fa-angle-down results iconNavBar"></i>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a routerLink="web-development"
                    ><i class="fa-solid fa-display iconNavBar"></i> WEB
                    Development
                  </a>
                </li>
                <li>
                  <a routerLink="app-development">
                    <i class="fa-solid fa-mobile-screen-button iconNavBar"></i
                    >APP Development</a
                  >
                </li>
                <li>
                  <a routerLink="ui-ux-design"
                    ><i class="fa-brands fa-figma iconNavBar"></i>UI/UX
                    Design</a
                  >
                </li>
                <li>
                  <a routerLink="google-ads"
                    ><i class="fa-brands fa-google iconNavBar"></i>Seo
                    Services</a
                  >
                </li>
              </ul>

            </li>
          </ul>

          <a href="#" class="btn">Let 's Talk</a>
        </div>
      </nav>
    </div>
  </div>
</header> -->

<header class="px-5" #navbar>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand contain-logo" routerLink="">
        <ng-container *ngIf="showToggle">
          <img
            src="../../../assets/imgs/logos/logo-text-colorish.webp"
            alt="tors"
            class="logo"
          />
        </ng-container>
        <ng-container *ngIf="!showToggle">
          <img
            src="../../../assets/imgs/logos/logo-image-colorish.webp"
            alt="tors"
            class=""
            style="width: 120px !important; height: 120px !important"
          />
        </ng-container>
      </a>
      <button
        #btn
        class="navbar-toggler text-white border border-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        #list
        class="collapse navbar-collapse uls-container"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link nav-link1"
              routerLink="home"
              routerLinkActive="active"
            >
              <i class="fa-solid fa-house iconNavBar"></i>
              <div class="hoverlinks"></div>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link1"
              routerLink="about"
              routerLinkActive="active"
            >
              <div class="hoverlinks"></div>
              <i class="fa-regular fa-address-card iconNavBar"></i>
              About
            </a>
          </li>

          <li class="nav-item nav-link-hover">
            <a
              class="nav-link"
              style="cursor: pointer"
              routerLink="services"
              routerLinkActive="active"
            >
              <!-- <div class="hoverlinks"></div> -->
              <i class="fa-brands fa-servicestack iconNavBar"></i>
              <span class="me-1"> Services </span>
              <!-- <i class="fa-solid fa-angle-down results iconNavBar"></i> -->
            </a>

            <!-- <ul class="dropdown-menu">
              <li>
                <a routerLink="/web"
                  ><i class="fa-solid fa-display iconNavBar"></i> WEB
                  Development
                </a>
              </li>
              <li>
                <a routerLink="/app">
                  <i class="fa-solid fa-mobile-screen-button iconNavBar"></i>APP
                  Development</a
                >
              </li>
              <li>
                <a routerLink="/ui-ux"
                  ><i class="fa-brands fa-figma iconNavBar"></i>UI/UX Design</a
                >
              </li>
              <li>
                <a routerLink="/seo"
                  ><i class="fa-brands fa-google iconNavBar"></i>Seo Services</a
                >
              </li>
            </ul> -->
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-link1"
              routerLink="about"
              routerLinkActive="active"
            >
              <div class="hoverlinks"></div>
              <i class="fa-solid fa-briefcase iconNavBar"></i>
              Careers
            </a>
          </li>
        </ul>
        <ul>
          <li style="list-style: none">
            <a href="#" class="btn"><span>Let 's Talk</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
