<section class="contact-section" id="map">
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <div class="contact-container">
    <div class="contact-form">
      <div class="header-in-tuch">
        <h1>Get in Touch</h1>
        <p>
          Erim tempor eget pharetra facilisis sed maecenas adipiscing. Eu leo
          molestie vel, ornare non id blandit netus.
        </p>
      </div>
      <form>
        <input type="text" placeholder="Name" required />
        <input type="email" placeholder="Email" required />
        <input type="tel" placeholder="Phone number*" required />
        <select required>
          <option value="" disabled selected>How did you find us?</option>
          <option value="google">Google</option>
          <option value="social-media">Social Media</option>
          <option value="referral">Referral</option>
        </select>
        <button type="submit">SEND</button>
      </form>
      <div class="contact-info">
        <div class="d-flex align-items-center gap-2">
          <span style="color: blue; font-size: 1.6rem">📞 </span>
          <div>
            <span>PHONE</span>
            <p>05 5342 1234</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2">
          <span style="font-size: 1.6rem">📠 </span>
          <div>
            <span>FAX</span>
            <p>05 5342 1234</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2">
          <span style="font-size: 1.6rem">📧 </span>
          <div>
            <span>EMAIL</span>
            <p>"info%imcore.com.au"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-map">
      <iframe
        id="location"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d432.05685728756725!2d31.2486875!3d29.9663553!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458472c68c9d4fd%3A0xb6cccbd6470cc50c!2z2YXYt9i52YUg2KfZhNmI2KfYr9mK!5e0!3m2!1sen!2seg!4v1728558714428!5m2!1sen!2seg"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
