/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

/* body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0a1638 0%, #020a20 100%);
  color: #ffffff;
} */

/* Contact Section */
.contact-section {
  padding: 0px 20px;
  margin: 5rem 0px;
  position: relative;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  background: #ffffff;
  border-radius: 33px;
  overflow: hidden;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.bg-image-dots:nth-child(1) {
  left: 0;
}
.bg-image-dots:nth-child(2) {
  right: 0;
  transform: rotate(180deg);
}

.contact-form {
  width: 63%;
  padding: 40px;
}
.header-in-tuch {
  width: 80%;
  margin: auto;
}
.contact-form h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-form h1 span {
  color: #1e90ff;
}

.contact-form p {
  margin-bottom: 30px;
  color: #555;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: auto;
}

.contact-form input,
.contact-form select,
.contact-form button {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  transition: background-color 0.3s ease;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 100%;
  height: 50px;

  /* 222 */
  background: linear-gradient(
    90.23deg,
    #021953 0.18%,
    #1a308b 47.54%,
    #0d2761 89.83%
  );

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: auto;
}
.contact-form button:disabled {
  background-color: rgb(26, 48, 139, 0.6);
  cursor: auto;
}
.contact-form button:hover {
  background: linear-gradient(to right, #1a308b, #021953, #0d2761);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-top: 30px; */
  gap: 1rem;
  width: 80%;
  /* margin: 3rem auto; */
  margin: 1.5rem auto 0;
}

/* .contact-info div {
  flex: 1 1 30%;
} */

.contact-info span {
  font-weight: bold;
  display: block;
  /* margin-bottom: 5px; */
}

.contact-info p {
  margin: 0;
  color: #555;
  white-space: nowrap;
}

.contact-map {
  width: 35%;
  gap: 15px;
  overflow: hidden;
  margin-left: auto;
  padding: 20px;
}
.contact-map iframe {
  gap: 15px;
  height: 90% !important;
  width: 100%;
  margin-top: 5%;
  display: inline-block;
}

.error-message {
  color: red;
}

@media (max-width: 1020px) {
  .contact-map {
    width: 100%;
    gap: 15px;
    overflow: hidden;
    margin-left: auto;
    /* padding: 20px; */
    padding: 15px;
  }
  .contact-map iframe {
    gap: 15px;
    height: 97% !important;
    width: 100%;
    margin-top: 8px;
  }
  .contact-form {
    width: 100%;
    /* padding: 40px; */
    padding: 2rem 0 0;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: auto;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form,
  .contact-map {
    flex: 1 1 100%;
  }
  .contact-form {
    width: 100%;
    padding: 30px;
  }
}
@media (max-width: 426px) {
  .contact-form {
    width: 100%;
    padding: 10px;
  }
  .pos-icon3 img {
    position: absolute;
    right: -3%;
    width: 111px;
  }
  .contact-section {
    /* padding: 40px 5px; */
    position: relative;
  }
  .contact-section {
    padding: 0px 5px;
    margin: 5rem 0px;
    position: relative;
  }
  .header-in-tuch {
    width: 96%;
  }
  .contact-form form {
    gap: 15px;
    width: 96%;
  }
}
