<section class="contact-section" id="map">
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <img
    src="../../../../../assets/imgs/home/img-dot.png"
    alt=""
    class="bg-image-dots"
  />
  <div class="contact-container">
    <div class="contact-form">
      <div class="header-in-tuch">
        <h1>Get in Touch</h1>
        <p>
          Erim tempor eget pharetra facilisis sed maecenas adipiscing. Eu leo
          molestie vel, ornare non id blandit netus.
        </p>
      </div>
      <form [formGroup]="touchForm" (ngSubmit)="submitTouchFrom()">
        <!-- <div class="form-item"> -->
        <input
          formControlName="name"
          type="text"
          placeholder="Name *"
          required
        />

        <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
          <span
            *ngIf="myForm.get('name')?.getError('required')"
            class="error-message"
            >Name is required</span
          >
          <span
            *ngIf="myForm.get('name')?.getError('minlength')"
            class="error-message"
            >The minimun length of Name is 3</span
          >
          <span
            *ngIf="myForm.get('name')?.getError('maxlength')"
            class="error-message"
            >The max length of Name is 15</span
          >
        </div>
        <!-- </div> -->
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          required
        />
        <div
          *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
        >
          <span
            *ngIf="myForm.get('email')?.getError('required')"
            class="error-message"
            >Email is required</span
          >
          <span
            *ngIf="myForm.get('email')?.getError('email')"
            class="error-message"
            >Email pattern is wrong</span
          >
        </div>
        <!--  -->
        <input
          formControlName="phoneNumber"
          type="tel"
          placeholder="Phone number *"
          required
        />
        <div
          *ngIf="
            myForm.get('phoneNumber')?.invalid &&
            myForm.get('phoneNumber')?.touched
          "
        >
          <span
            *ngIf="myForm.get('phoneNumber')?.getError('required')"
            class="error-message"
            >Phone Number is required</span
          >
          <span
            *ngIf="myForm.get('phoneNumber')?.getError('pattern')"
            class="error-message"
            >Phone Number pattern is wrong</span
          >
        </div>
        <!--  -->
        <select formControlName="category" required>
          <option value="" disabled selected>How did you find us?</option>
          <option value="google">Google</option>
          <option value="social-media">Social Media</option>
          <option value="referral">Referral</option>
        </select>
        <div
          *ngIf="
            myForm.get('category')?.invalid && myForm.get('category')?.touched
          "
        >
          <span
            *ngIf="myForm.get('category')?.getError('required')"
            class="error-message"
            >You must choose from the list
          </span>
        </div>
        <!--  -->
        <button type="submit" [disabled]="touchForm.invalid">SEND</button>
      </form>
      <div class="contact-info">
        <div class="d-flex align-items-center gap-2">
          <!-- <span style="color: blue; font-size: 1.6rem">📞 </span> -->
          <img
            src="../../../../../assets/imgs/get-in-touch/phone.webp"
            alt="image"
          />
          <div>
            <span>PHONE</span>
            <p>05 5342 1234</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2">
          <!-- <span style="font-size: 1.6rem">📠 </span> -->
          <img
            src="../../../../../assets/imgs/get-in-touch/fax.webp"
            alt="image"
          />
          <div>
            <span>FAX</span>
            <p>05 5342 1234</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2">
          <!-- <span style="font-size: 1.6rem">📧 </span> -->
          <img
            src="../../../../../assets/imgs/get-in-touch/envelope.webp"
            alt="image"
          />
          <div>
            <span>EMAIL</span>
            <p>"info%imcore.com.au"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-map">
      <iframe
        id="location"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d432.05685728756725!2d31.2486875!3d29.9663553!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458472c68c9d4fd%3A0xb6cccbd6470cc50c!2z2YXYt9i52YUg2KfZhNmI2KfYr9mK!5e0!3m2!1sen!2seg!4v1728558714428!5m2!1sen!2seg"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
