/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0a1638 0%, #020a20 100%);
  color: #ffffff;
}

/* Contact Section */
.contact-section {
  padding: 40px 20px;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
  width: 49%;
  padding: 40px;
}

.contact-form h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-form h1 span {
  color: #1e90ff;
}

.contact-form p {
  margin-bottom: 30px;
  color: #555;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form select,
.contact-form button {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #007acc;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.contact-info div {
  flex: 1 1 30%;
}

.contact-info span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.contact-info p {
  margin: 0;
  color: #555;
}

.contact-map {
  width: 49%;
  gap: 15px;
  overflow: hidden;
}
.contact-map iframe {
  gap: 15px;
  height: 100% !important;
}

/* .contact-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form,
  .contact-map {
    flex: 1 1 100%;
  }
}
