* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  bg-color: linear-gradient(to right, #021953, #1a308b, #0d2761);
}

body {
  background: linear-gradient(to right, #021953, #1a308b, #0d2761);
}

section {
  margin: 5rem 0;
  padding: 0 5px;
}

.main-btn {
  padding: 0.75rem 3rem;
  border-radius: 1rem;
  color: #fffff3;
  display: block;
  background-color: #01d1f530;
  font-size: 1.3rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  overflow: hidden;
}

.main-btn span {
  position: relative;
  transition: 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.main-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: 0%;
  background-color: #fffff3;
  transition: 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.main-btn:hover::before {
  width: 100%;
  transition: 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.main-btn:hover span {
  color: #051b5a;
  transition: 0.3s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

@media (max-width: 768px) {
  .main-btn {
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
    font-size: 1.1rem;
  }
}

/*  */

.bg-image-dots {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 9rem;
  opacity: 0.2;
  /* z-index: -2; */
}

/*  */

.main-address {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #fffff0;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .main-address {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

/*  */
/*  */
.title-parent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
}
.title-parent span {
  height: 1px;
  width: 30%;
  background-color: #fffff0;
}
.title-parent h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fffff0;
  z-index: 2;
}
@media (max-width: 991px) {
  .title-parent h2 {
    font-size: 20px;
  }
}
/*  */
.more-button {
  display: inline-block;
  margin-top: 20px;

  background: #016bf530;
  color: #ffffff;
  text-decoration: none;

  transition: 0.3s ease;
  padding: 10px 60px;

  border-radius: 16px;
}

.more-button:hover {
  background: #215bc7;
}

@media (max-width: 768px) {
  .more-button {
    padding: 8px 32px;
    font-size: 0.9rem;
  }
}

/*  */
