<section>
  <div class="container">
    <div class="row g-4">
      <!--  -->
      <div class="col-12">
        <div class="innerDiv">
          <div class="row">
            <div class="col-lg-9">
              <div class="text">
                <h2>WEB Development</h2>
                <p>
                  Your website is often the first point of contact with
                  potential customers. We create beautiful, functional websites
                  that not only look great but are also easy to navigate,
                  responsive, and optimized for performance.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="image">
                <img
                  src="../../../../../assets/imgs/main-services/web.webp"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-12">
        <div class="innerDiv">
          <div class="row">
            <div class="col-lg-9">
              <div class="text">
                <h2>Mobile App Development</h2>
                <p>
                  Reach your customers wherever they are with high-performance
                  mobile applications for iOS and Android. We build
                  user-friendly, feature-rich apps that provide seamless
                  experiences, helping you connect with users and grow your
                  business.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="image">
                <img
                  src="../../../../../assets/imgs/main-services/app.webp"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-12">
        <div class="innerDiv">
          <div class="row">
            <div class="col-lg-9">
              <div class="text">
                <h2>UI/UX Design</h2>
                <p>
                  A great user experience is key to customer satisfaction. Our
                  design team focuses on creating intuitive and engaging
                  interfaces that make it easy for users to interact with your
                  product and achieve their goals.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="image">
                <img
                  src="../../../../../assets/imgs/main-services/figma.webp"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-12">
        <div class="innerDiv">
          <div class="row">
            <div class="col-lg-9">
              <div class="text">
                <h2>SEO Services</h2>
                <p>
                  Our goal is to drive more organic traffic to your site,
                  increase brand awareness, and ultimately boost conversions.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="image">
                <img
                  src="../../../../../assets/imgs/main-services/google.webp"
                  alt="image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</section>
